body{
    background-color: #d7d7d7;
    text-align: center;
}
.orange{
    color:#ff8400;
}
h1{
    font-family: "Intervogue Soft";
    font-size: 60px;
    width: 258px;
    margin: 20px auto -40px;
}
h2{
    font-family: "Intervogue Soft regular";
    font-size: 60px;
    height: 124px;
    width: 350px;
    margin: 10px auto;
    padding: 25px;
    background: url(bg.jpg);
}