@font-face {
        font-family: 'isb';
		src: url('/font/ISB.otf');
		font-weight: bold;
}
@font-face {
		font-family: 'isr';
		src: url('/font/ISR.otf');
		font-weight: normal;
}
body{
    background-color: #d7d7d7;
    text-align: center;
}
.orange{
    color:#ff8400;
}
h1{
    font-family: "isb";
    font-size: 60px;
    width: 258px;
    margin: 20px auto -42px;
}
h2{
    font-family: "isr";
    font-size: 60px;
    height: 124px;
    width: 350px;
    margin: 10px auto;
    padding: 32px;
    background: url(bg.jpg);
}